[submodule "vimfiles/bundle/lightline"]
	path = vimfiles/bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vimfiles/bundle/emmet"]
	path = vimfiles/bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
